# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test output
coverage/
allure-results/
allure-report/
reports/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp

# Build output
dist/
build/

# Misc
*.tmp
*.bak
